.navbar-brand {
    color: white;
    margin-top: 5px; 
}

 .nav-link {
    color: white;
}

.btn {
    background: transparent;
    border: none;
    margin-top: 2px;
}

.my-login {
    padding-left: 550px;
}

.s-logo {
    color: white;
    width: 15px;
    height: 15px;
    padding-right: 15px;
}

.s-logo:hover {
    color:rgb(147, 138, 138);
}

.carousel-item {
    height: 60vh;
    min-height: 150px;
    background: no-repeat center center scroll;
}

.carousel-caption h5{
    font-size: 50px; 
    letter-spacing: 2px;
}

.my-btn{
    margin-bottom: 30px; 
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px; 
    width: 300px;
    border-radius: 30px;
    border: none;
    background-color: white;
}

.whole-courses {
    text-align: center;
}  

.course-deco {
    color: white;
    margin: 20px;
}

.course-deco:hover {
    color: rgb(220, 231, 241);
}

.logo {
    background-color: white;
    color: black;
    padding-top: 40px;
    text-align: center;
}

.my-mid-carousel {
    display: inline-block;
    background-color: white;
    color: black;
    margin-left: 20px;
    padding: 10px;
    width: 250px;
    height: 30vh;
}

.my-mid-carousel:hover {
    background-color: rgb(220, 231, 241);
}

footer {
    width: 100%;
    height: 40%;
    padding: 40px 20px;
    background-color: black;
}

.my-body-text {
    text-align: center;
    margin-top: 100px;
}

.my-btn-email {
    background-color: black;
    border-radius: 30px;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 70px;
    margin-left: 400px;
    width: 500px;
}

.my-btn-email:hover {
    background-color: rgb(46, 53, 56);
}

.my-btn-email-new {
    background-color: black;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 2px;
    padding-right: 20px;
}

.my-btn-email-new:hover {
    background-color: rgb(46, 53, 56);
}

.bi-telephone {
    color: black; 
    margin-left: 600px;
    font-size: 30px;
}

.bi-envelope {
    color: black; 
    margin-left: 600px;
    font-size: 30px;
}

main {
    background-color: black;
    color: white;
    height: 3vh;
    text-align: center;
    padding: 5px;
}

.btn-dark:hover {
    background-color: black;
    color: white;
}
